@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #fa7d3c;
}
body {
  height: 2000px;
  background: #b4daf0 url("../../images/body_bg.jpg") no-repeat;
}
header {
  width: 100%;
  height: 48px;
  background-color: #FFFFFF;
  border-top: 2px solid #FA7D3C;
}
